.container {
	display: grid;

	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto auto auto;
	

	grid-template-areas: "head head head"
						 "imagen imagen imagen"
						 "logo . ."
						 "btn1 btn2 btn3"
						 "foot foot foot";
						}




.container__header {
	grid-area: head;

}

.container__portada {
	grid-area: imagen;
}

.container__logoresponsive {
	grid-area: logo;
}

.container__btn--tratamientos {
	grid-area: btn1;


}

.container__btn--preguntas {
	grid-area: btn2;
}

.container__btn--conocenos {
	grid-area: btn3;
}

.container__footer {
	grid-area: foot;
}

.container .container__btn--tratamientos {
	display: flex;
	justify-content: center;
}

.container .container__btn--preguntas {
	display: flex;
	justify-content: center;
}

.container .container__btn--conocenos {
	display: flex;
	justify-content: center;
}


