.container {
	display: grid;

	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto auto auto;
	

	grid-template-areas: "head head head"
						 "imagen imagen imagen"
						 "logo . ."
						 "btn1 btn2 btn3"
						 "foot foot foot";
						}


.box1, .box2, .box3, .box4, .box5, .box6 { 

	

}


.box1 {
	grid-area: head;

}

.box2 {
	grid-area: imagen;
}

.boxtitle {
	grid-area: logo;
}

.box3 {
	grid-area: btn1;


}

.box4 {
	grid-area: btn2;
}

.box5 {
	grid-area: btn3;
}

.box6 {
	grid-area: foot;
}

.container .box3 {
	display: flex;
	justify-content: center;
}

.container .box4 {
	display: flex;
	justify-content: center;
}

.container .box5 {
	display: flex;
	justify-content: center;
}


