* {
  margin: 0px;
}


a {
  text-decoration: none;
  color: white;
}



a:hover 
    { color: #fff; }
a:active 
    { color: #fff}
a:visited
     { color: #fff ;}

/*fondo*/

body {
  background: #ffffff;
  
  
}

/* barra superior fixed */

.estatico{
  background:#ffffff;
  font-family: 'Khand', sans-serif;
  width: 100%;
  
  
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  box-shadow: 1px 3px 10px  #555 ;
  z-index: 5;


}

.contentestatico {
 
  display: flex;
  flex-direction: row;
  background: ;

  
  width:;
  margin-left: 3px;
  

}

.contentestaticologo {

  margin-top: 5PX;
  
  
}
.contentestaticotitulo {
 
 font-family: 'Cinzel', serif;
 margin-right: 10px;
 margin-top: 10px;
  
 

} 





/* Menu */
.navbar {
 
background-color: inherit;
display: flex;
flex-direction: row;

}

/* Enlaces del menu */
.navbar a {
  
  font-size: 20px;
  color: black;
  text-align: left;
  padding: 15px 10px 10px 15px;
  

  text-decoration: none;

}



/* Submenu */
.subnav {

  
  
  


}

/* Submenu boton */
.subnav .subnavbtn {
  font-size: 20px;
  border : none;
  outline: none;
  color: black;
  padding: 14px 10px 10px 10px;
  background-color: inherit;
  font-family: inherit;


  


}

/* Agrego color y tamaño con cursor */
.navbar a:hover, .subnav:hover .subnavbtn  {
  color: #565FEB;
  border-top: 2px solid #565FEB;




  }

/* Estilo del contenido del Submenu */
.subnav-content {
  display: none;
  position:absolute;
  background-color: #fff;
  width:;
  z-index: 1;
  border: 1px solid #EEEFF8;
  transform: translate(-40px, 0px);





  
  

 

}

/* Estilo de los enlaces del Submenu*/
.subnav-content a {
  
  color: black;
  text-decoration: none;
  border-right: 1px solid #EEEFF8;
    border-top: 2px solid #565FEB;
    width: 110px;
    justify-content: center;






      


    
}

/* Agrego color cuando me posiciono con el cursor para el contenido del Submenu */
.subnav-content a:hover {
  background-color:;
  color: #565FEB;
  padding-top: 13px;








  


}

/* Cuando posiciono el Mouse muestra el contenido del Submenu */
.subnav:hover .subnav-content {
  display: flex;
  flex-direction: row;


  

}


/*titulo*/



.primera {
  display: none;

}

.subtitulo {
  font-family: 'Comfortaa', cursive;

}


 
}

/*contacto*/




.titulotel{
  
  display: flex;
  flex-direction: row;
  margin-right:; 
  

}


.tel { color: #2E4053;

  font-size: 20px;
  display: flex;
  flex-direction: row;
  margin-left:60px;
  margin-right: 100px;
  margin-top:;
  
  padding: 10px;

}

.numeros{
  margin-left: 30px;
  margin-right:;
  margin-top: 55px;
}


.formatocontacto
    {

  display: flex;
  max-width: 90%;
  margin:;
  padding: ;
  flex-direction: row;
  
  

}

.formulario {
  
  
  margin-left: 120px;
  margin-top: 40px;
  margin-right: 120px;
  margin-bottom: 40px;
}

.info {
  
  margin: 30px;
}

.mapa {
  
  display: block;
  margin: 30px;
}


.cajita {
  
  display: flex;
  flex-direction: row;


}

.datos
{
  
  padding: 20px;
}

.sociales {


display: block;
margin: 20px;

}


.redes {
  display: flex;
  flex-direction: row;
  margin: auto;
  


}

.icono
{
  font-size: xx-large;
  margin: 9px;

  


}
.icono:hover{
  transform: scale(1.3,1.3);
  }



/*fotodeporatada*/
.portada {
  display: flex;
  flex-direction: row;
  justify-content:center;
  transform: translateY(-124px);
  position: static;
  margin-bottom: -140px;

}


/* botones del index */

.cajabotones {
  
  display: flex;
  flex-direction: row;
  
  padding: 20px;


  
}

.boton1 {
  
  padding:  20px;
  width: 220px;
  height: 150px;
 
  border-radius:25px 0px 25px 0px;
  background-color: #565FEB;
  color: white;
  box-shadow: 5px 5px 15px  grey;
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
  text-align: center;

  


}


.boton1:hover {
  background-color: #6D75EE;
  transform: scale(1.08,1.08);
}









/*footer*/
.finalindex {

  font-size: 22px;
  font-family: 'Khand', sans-serif;
  padding-top: 30px;
  padding-bottom: 20px;
  background: #7A7A7A;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;


  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: ;
  
  

}

.contentindex {
  color: white;
  border: blue;
  background-color: #7A7A7A;
  width: 1fr;
  

  

  



}

.contentindexrow {
  color: white;
  border: blue;
  background-color: #7A7A7A;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  width: 150px;



  



}




.contentfinal {
  border: red;
  background-color: #7A7A7A;
  padding: 5px;
  



}


.icons {
  font-size: xx-large;
}












