* {
  margin: 0px;
}


a {
  text-decoration: none;
  color: white;
}



a:hover 
    { color: #fff; }
a:active 
    { color: #fff}
a:visited
     { color: #fff ;}

/*fondo*/

body {
  background: #ffffff;
  
  
}

/* barra superior fixed */

.header {
  background:#ffffff;
  font-family: 'Khand', sans-serif;
  width: 100%;
  
  
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  box-shadow: 1px 3px 10px  #555 ;
  z-index: 5;


}

.header__item {
 
  display: flex;
  flex-direction: row;
  background: ;

  
  width:;
  margin-left: 3px;
  

}

.header__item--logo {

  margin-top: 5px;
  
  
}
.header__item--title {
 
 font-family: 'Cinzel', serif;
 margin-right: 10px;
 margin-top: 10px;
  
 

} 





/* Menu */
.menu {
 
background-color: inherit;
display: flex;
flex-direction: row;

}

/* Enlaces del menu */
.menu a {
  
  font-size: 20px;
  color: black;
  text-align: left;
  padding: 15px 10px 10px 15px;
  

  text-decoration: none;

}



/* Submenu */
.menu__submenu {

  
  
  


}

/* Submenu boton */
.menu__submenu .menu__submenu--btn {
  font-size: 20px;
  border : none;
  outline: none;
  color: black;
  padding: 14px 10px 10px 10px;
  background-color: inherit;
  font-family: inherit;


  


}

/* Agrego color y tamaño con cursor */
.menu a:hover, .menu__submenu:hover .menu__submenu--btn {
  color: #565FEB;
  border-top: 2px solid #565FEB;




  }

/* Estilo del contenido del Submenu */
.menu__submenu--content {
  display: none;
  position:absolute;
  background-color: #fff;
  width:;
  z-index: 1;
  border: 1px solid #EEEFF8;
  transform: translate(-40px, 0px);





  
  

 

}

/* Estilo de los enlaces del Submenu*/
.menu__submenu--content a {
  
  color: black;
  text-decoration: none;
  border-right: 1px solid #EEEFF8;
    border-top: 2px solid #565FEB;
    width: 110px;
    justify-content: center;






      


    
}

/* Agrego color cuando me posiciono con el cursor para el contenido del Submenu */
.menu__submenu--content a:hover {
  background-color:;
  color: #565FEB;
  padding-top: 13px;








  


}

/* Cuando posiciono el Mouse muestra el contenido del Submenu */
.menu__submenu:hover .menu__submenu--content {
  display: flex;
  flex-direction: row;


  

}


/*titulo*/



.header__responsive {
  display: none;

}

.header__responsive--eslogan {
  font-family: 'Comfortaa', cursive;

}



/*fotodeporatada*/
.portada {
  display: flex;
  flex-direction: row;
  justify-content:center;
  transform: translateY(-124px);
  position: static;
  margin-bottom: -100px;

}


/* botones del index */

.btn {

  
  padding:  20px;
  width: 220px;
  height: 150px;
 
  border-radius:25px 0px 25px 0px;
  background-color: #565FEB;
  color: white;
  box-shadow: 5px 5px 15px  grey;
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
  text-align: center;

  


}


.btn:hover {
  background-color: #6D75EE;
  transform: scale(1.08,1.08);
}


/*footer*/
.footer {

  font-size: 22px;
  font-family: 'Khand', sans-serif;
  padding-top: 30px;
  padding-bottom: 20px;
  background: #7A7A7A;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;


  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: ;
  
  

}

.footer__content {
  color: white;
  border: blue;
  background-color: #7A7A7A;
  width: 1fr;
  

  

  



}






.footer__content--item {
  border: red;
  background-color: #7A7A7A;
  padding: 5px;
  



}

.footer__content--icon {
  color: white;
  border: blue;
  background-color: #7A7A7A;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  width: 150px;



  



}


.icons {
  font-size: xx-large;
}
 































